<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>files-{{ name }}</title>
    <meta charset=utf8>
    <style>
        li {
            list-style: none;
        }
        div 
        video {
            width: 100%;
            height: auto;
        }
        li > pre {
            white-space: pre-wrap;
            width: 512px;
        }
        .preview, .preview > *{
            width: 512px;
            max-width: 100%;
            height: auto;
        }
        #dir > li {
            text-align: center;
        }
    </style>
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/view/">files</a></li>
            <li><span>{{ username }}</span>
            <span>{% if login == '1' %}<a href="/logout">logout</a>{% else %}<a href="/login">login</a>{% endif %}</span>
            </li>
        </ul>
    </nav>
    <div>{% block content %}{% endblock %}</div>
</body>
</html>
