{% extends "base.html" %}
{% from 'file.html' import preview%}
{% block content %}
{% include "upload.html" %}
<div class="dir">
    <li>{{ icons["inode"] }}<a href="{{ back }}">..</a></li>
    {% for f in files %}
    <li>{{ preview(f) }}</li>
    {% endfor %}
</div>
{% endblock %}
