{% macro file(f) %}
<span>{{ f.icon }}</span><a href="{{ f.href }}">{{ f.name }}</a>{% if f.size is not none %}&nbsp;<span>{{ f.size }}</span>{% endif %}{% if f.container is not none %}<br>{{ f.container }}{% endif %}
{% endmacro %}
{% macro preview(f) %}
<span>{{ f.icon }}</span><a href="{{ f.href }}">{{ f.name }}</a>{% if f.size is not none %}&nbsp;<span>{{ f.size }}</span>{% endif %}{% if f.preview is not none %}<br>{{ f.preview}}{% endif %}
{% endmacro %}
