<div id="upload">
    <h3>Create Post</h3>
<form action="/upload" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">
    <div><textarea name="text"></textarea></div>
    <div><input id="f" name="f" type="file" value=""/></div>
    <div><input type="submit" value="Post"/></div>
</form>
