{% extends "base.html" %}
{% from 'file.html' import file %}
{% block content %}
<div>
    <li>{{ icons["inode"] }}<a href="{{ back }}">..</a></li>
    <div>{{ file(f) }}</div>
    <div>
        {% if prev is not none %}<span>prev: <a href="{{ prev.href }}">{{ prev.name }}</a></span>{% endif %}
        {% if next is not none %}<span>next: <a href="{{ nxt.href }}">{{ nxt.name }}</a></span>{% endif %}
    </div>
</div>
{% endblock %}
